<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Letterboxd</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header class="nav">
    <h1><a href="/">Mini-Letterboxd</a></h1>
    $$AUTH_LINKS$$
</header>
<div class="welcome-message" style="display: none;"></div>
<div class="main-container">
    <div class="search-bar-container">
        <form class="search-form" action="/movies/search" method="GET">
            <div class="search-inputs">
                <input type="text" id="search-bar" name="query" placeholder="What do you love to watch?">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
    $$MOVIES$$
</div>
<script src="/static/script.js"></script>
</body>
</html>