<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Letterboxd</title>
</head>
<body>
<header class="nav-header">
    <h1>Mini-Letterboxd</h1>
</header>
<div class="main-container">
    <div class="search-bar-container">
        <form id="search-form">
            <div class="search-inputs">
                <input type="text" id="search-bar" placeholder="What do you love to watch?">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
    $$MOVIES$$
</div>
</body>
</html>