<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<h1 style="text-align: center; color: #999;">Log In</h1>
<form class="auth-form" method="POST" action="/user/login">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <p id="login-error" class="error-message" style="color: red; display: none;">Invalid username or password.</p>
    <button type="submit">Login</button>
</form>
<p style="text-align: center;">Don't have an account? <a href="/user/signup" class="sign-up">Sign Up</a></p>
</body>
</html>
