<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<h1 style="text-align: center; color: #999;">Sign Up</h1>
<form class="auth-form" action="/user/signup" method="POST" onsubmit="return validateForm()">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <p id="password-error" class="error-message" style="color: red; display: none;">Password must be at least 6 characters with at least 1 number and 1 special character.</p>
    </div>
    <button type="submit" class="signup-btn">Sign Up</button>
</form>
<p style="text-align: center;">Already have an account? <a href="/user/login" class="log-in">Log In</a></p>

<script>
    function validateForm() {
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const errorElement = document.getElementById('password-error');
        
        // username validation
        if (username.length < 3) {
            errorElement.textContent = "Username must be at least 3 characters";
            errorElement.style.display = 'block';
            return false;
        }
        
        if (username.length > 30) {
            errorElement.textContent = "Username cannot exceed 30 characters";
            errorElement.style.display = 'block';
            return false;
        }
        
        if (/^\d+$/.test(username)) {
            errorElement.textContent = "Username cannot contain only numbers";
            errorElement.style.display = 'block';
            return false;
        }
        
        const charsCount = (username.match(/[a-zA-Z]/g) || []).length;
        if (charsCount < 3) {
            errorElement.textContent = "Username must contain at least 3 alphabetic characters";
            errorElement.style.display = 'block';
            return false;
        }

        // password validation
        if (password.length < 6) {
            errorElement.textContent = "Password must be at least 6 characters";
            errorElement.style.display = 'block';
            return false;
        }

        if (!/\d/.test(password)) {
            errorElement.textContent = "Password must contain at least one number";
            errorElement.style.display = 'block';
            return false;
        }

        if (!/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/.test(password)) {
            errorElement.textContent = "Password must contain at least one special character";
            errorElement.style.display = 'block';
            return false;
        }

        errorElement.style.display = 'none';
        return true;
    }
</script>
</body>
</html>
